<div *ngIf="auth.user$ | async; then authenticated else guest">
  <!-- template will replace this div -->
</div>

<!-- User NOT logged in -->
<ng-template #guest>
  <h3>Howdy, GUEST</h3>
  <p>Login to get started...</p>

  <button mat-raised-button color="primary" (click)="auth.googleSignin()">
    <mat-icon>google</mat-icon>
    Connect Google
  </button>

</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
  <div *ngIf="auth.user$ | async as user">
    <button (click)="auth.signOut()">Logout</button>
  </div>
</ng-template>